@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&family=Poppins:wght@100;300;400;500;600&display=swap");
$grey-color: #282a2a;
$orange-color: #e88136;
$black-color: #000;
$white-color: #fff;
* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
}

body {
    background-image: url('/bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-y: hidden;
}
.header-wrapper {
    .bg-grey {
        height: 48px;
        background-color: $grey-color;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .text-wrapper {
            font-size: 32px;
            font-weight: bold;
            .text-orange {
                color: $orange-color;
            }
        }
    }
    .bg-black {
        background-color: $black-color;
        height: 36px;
        display: flex;
        .wrapper {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .text-sale {
                font-size: 18px;
                color: $white-color;
            }
        }
    }
}
.card-wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
    a {
        text-decoration: none;
        color: unset;
    }
    .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $white-color;
        border-radius: 15px;
        img {
            width: 324px;
            height: 280px;
            border-top-right-radius: 15px;
            border-top-left-radius: 15px;
            object-fit: cover;
            width: 100%;
        }
        h3 {
            font-size: 18px;
            text-align: center;
            margin-top: 20px;
            min-height: 50px;
        }
        .price-wrapper {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            margin-bottom: 20px;
            h2 {
                font-size: 32px;
            }
            p {
                font-size: 16px;
                margin: 0;
                margin-left: 10px;
            }
        }
        button {
            color: $white-color;
            background-color: $orange-color;
            width: 100%;
            font-weight: bold;
            border: 0;
            padding: 10px 0;
            border-bottom-right-radius: 15px;
            border-bottom-left-radius: 15px;
        }
    }
}
.footer-wrapper {
    .list {
        display: flex;
        justify-content: space-around;
        background-color: $black-color;
        border-radius: 50px;
        padding: 0 10px;
        li {
            color: $white-color;
            padding: 10px 0px;
            font-size: 18px;
            @media (max-width: 767px) {
                font-size: 14px;
            }
            &.active {
                color: $orange-color;
                font-weight: bold;
            }
        }
    }
}
.product-wrapper {
    padding-top: 100px;
    padding-bottom: 100px;
    .img-wrapper {
        overflow: hidden;
        img {
            object-fit: cover;
            height: 400px;
            width: 400px;
        }
    }
    .product-description {
        h1 {
            font-size: 32px;
            color: $white-color;
        }
        hr {
            color: $orange-color;
            height: 3px;
        }
        .description {
            margin-top: 20px;
            margin-bottom: 70px;
            color: $white-color;
        }
        p {
            color: $white-color;
            .text-price {
                color: $orange-color;
                font-size: 24px;
                font-weight: bold;
            }
        }
        button {
            border: 0;
            background-color: $orange-color;
            padding: 8px 15px;
            color: $white-color;
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
        }
        @media (max-width: 991px) {
            margin-top: 50px;
        }
    }
}
.title-wrapper {
    h2 {
        font-size: 32px;
        color: $white-color;
    }
    hr {
        height: 3px;
        color: $orange-color;
    }
}
.game-wrapper {
    margin-top: 25px;
    margin-bottom: 25px;
    .bg-wallet {
        background-color: $black-color;
        padding: 50px;
        @media (max-width:991px) {
            padding: 30px;
        }
        h2 {
            font-size: 36px;
            color: $white-color;
        }
        hr {
            color: $white-color;
        }
        .balance-text {
            font-size: 18px;
            color: $white-color;
            margin-bottom: 0;
        }
        .price-text {
            font-size: 24px;
            color: $white-color;
        }
        .btn-group {
            margin-top: 50px;
            @media (max-width: 991px) {
                display: flex;
                flex-direction: column;
            }
            button {
                letter-spacing: 5px;
                padding: 5px 16px;
                border: 0;
                border-radius: 50px;
                margin-left: 15px;
                color: $white-color;
                font-size: 14px;
                margin-bottom: 15px;
                &.green {
                    background-color: #1c623c;
                }
                &.purple {
                    background-color: #2f3390;
                }
                &.orange {
                    background-color: #e88136;
                }
            }
        }
    }
    .bg-number {
        background-color: $black-color;
        padding: 50px;
        @media (max-width:991px) {
            padding: 30px;
        }
        .input-wrapper {
            font-size: 16px;
            display: flex;
            flex-direction: column;
            margin-bottom: 25px;
            label {
                font-size: 16px;
                color: $white-color;
            }
            button {
                padding: 8px 16px;
                font-size: 14px;
                padding: 5px 16px;
                border: 0;
                border-radius: 50px;
                color: $white-color;
                font-size: 14px;
                &.green {
                    background-color: #5abf37;
                }
                &.purple {
                    background-color: #9437bf;
                }
                &.red {
                    background-color: #ff2e00;
                }
            }
        }
        .digit-wrapper {
            max-width: 350px;
            label {
                color: $white-color;
                margin-left: 15px;
            }
            button {
                padding: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 50px;
                width: 50px;
                border: 0;
                margin-left: 15px;
                margin-bottom: 15px;
                font-weight: bold;
            }
            p {
                font-size: 24px;
                color: $white-color;
                margin-left: 15px;
            }
        }
    }
    .parity-wrapper {
        background-color: $black-color;
        padding: 50px;
        @media (max-width:991px) {
            padding: 30px;
        }
        h2 {
            font-weight: bold;
            font-size: 24px;
            color: $white-color;
        }
        hr {
            color: $white-color;
        }
        .table-wrapper {
            overflow-x: scroll;
            table {
                width: 100%;
                background-color: $white-color;
                border-radius: 4px;
                thead {
                    th {
                        color: $black-color;
                        padding: 8px;
                        text-align: center;
                    }
                }
                tbody {
                    td {
                        color: $black-color;
                        padding: 8px;
                        text-align: center;
                    }
                }
            }
        }
    }
}
.login-wrapper {
    background-color: $black-color;
    border-radius: 25px;
    padding: 50px;
    @media (max-width:991px) {
        padding: 30px;
    }
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    h3 {
        font-size: 24px;
        font-weight: bold;
        color: $white-color;
        span {
            color: #E88136;
            font-weight: bold;
        }
    }
    hr {
        color: $white-color;
    }
    input[type=text],input[type=password] {
        background-color: $white-color;
        color: $black-color;
        font-size: 14px;
        border-radius: 50px;
        border: 0;
        margin-bottom: 30px;
        height: 40px;
        padding: 15px;
        &::placeholder {
            font-size: 14px;
            color: $black-color;
        }
    }
    input[type=submit] {
        background-color: $white-color;
        color: $black-color;
        font-size: 14px;
        border-radius: 50px;
        border: 0;
        margin-bottom: 30px;
        padding: 10px;
        background-color: #E88136;
        color: $white-color;
        letter-spacing: 4px;
        font-weight: bold;
    }
    .reset {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        p {
            color: $white-color;
            font-size: 11px;
            letter-spacing: 4px;
        }
    }
}
.sub-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
    margin-bottom: 50px;
    .link-wrapper {
        a {
            color: $white-color;
            margin-right: 15px;
            font-size: 14px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}
.dynamic-wrapper {
    padding: 50px 20px;
    h2,h3,p,li {
        color: $white-color;
    }
    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    h3 {
        font-size: 16px;
        margin-bottom: 10px;
        margin-top: 40px;
    }
    p,li {
        font-size: 14px;
        margin-bottom: 5px;
    }

}